body {
  margin: 0;
  font-family: Arial;
}

.menu {
  background-color: #675c64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .opciones-menu {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
}

.menu .opciones-menu__boton {
  background-color: ivory;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px;
  display: fle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .logotesla {
  height: 3em;
}

.sobre-mi {
  width: auto;
  height: 30vh;
  position: relative;
}

.sobre-mi .banner-tesla {
  background-image: url("../images/nikola_tesla_background.jpg");
  background-size: cover;
  height: 100%;
}

.sobre-mi .banner-tesla__cita {
  position: absolute;
  left: 2vh;
  width: 50%;
  bottom: 2vh;
  color: white;
}

.sobre-mi .banner-tesla__cita ::before {
  content: open-quote;
  color: white;
}

.sobre-mi .banner-tesla__cita ::after {
  content: close-quote;
  color: white;
}

.estudios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
}

.estudios ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1vh;
}

.estudios ul li {
  font-weight: bold;
}

.cv {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv__titulo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cv ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vh;
}

.cv ul li {
  font-weight: bold;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.proyectos-realizados {
  background-color: lightslategray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.proyectos-realizados div {
  height: 50vh;
  width: 100%;
  position: relative;
}

.proyectos-realizados .proyecto-realizado {
  background-size: cover;
}

.proyectos-realizados .proyecto-realizado__titulo {
  color: white;
  position: absolute;
  bottom: 1vh;
  left: 1vh;
}

.proyectos-realizados .bobina-tesla {
  background-image: url("../images/bobinatesla_background.jpg");
}

.proyectos-realizados .iluminacion-inalambrica {
  background-image: url("../images/wirelesslight_background.jpg");
}

.proyectos-realizados .lucesneon {
  background-image: url("../images/lucesneon_background.jpg");
}

.proyectos-realizados .experimento-rayosx {
  background-image: url("../images/rayosx_background.jpg");
}

.proyectos-realizados .radiocontrol-remoto {
  background-image: url("../images/controlremoto_background.jpg");
}

.proyectos-realizados .turbinatesla {
  background-image: url("../images/turbinatesla_background.jpg");
}

@media screen and (min-width: 600px) and (orientation: landscape) {
  .proyectos-realizados {
    background-color: lightslategray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .proyectos-realizados div {
    height: 50vh;
    width: 50%;
  }
  .proyectos-realizados .proyecto-realizado {
    background-size: cover;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .proyectos-realizados .proyecto-realizado__titulo {
    color: white;
    position: absolute;
    bottom: 1vh;
    left: 1vh;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .proyectos-realizados {
    background-color: lightslategray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .proyectos-realizados div {
    height: 50vh;
    width: 30%;
  }
  .proyectos-realizados .proyecto-realizado {
    background-size: cover;
  }
  .proyectos-realizados .proyecto-realizado__titulo {
    color: white;
    position: absolute;
    bottom: 1vh;
    left: 1vh;
  }
}
/*# sourceMappingURL=style.css.map */