$backgrounds_proyectos: "bobinatesla_background.jpg","controlremoto_background.jpg","lucesneon_background.jpg","rayosx_background.jpg","wirelesslight_background.jpg" ;
body{
    margin: 0;
    font-family: Arial;
}

.menu {
    background-color: #675c64;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .opciones-menu{
        display: none;
        flex-direction: row;
        width: 40%;
        &__boton{
            background-color: ivory;
            flex-grow: 1;
            margin: 10px;
            display: fle;
            justify-content: center;
        }
    }
    .logotesla{
        height: 3em;
    }
}

.sobre-mi{
    width: auto;
    height: 30vh;
    position: relative;
    .banner-tesla{
        background-image: url("../images/nikola_tesla_background.jpg");
        background-size: cover;
        
        height: 100%;
        &__cita{
            position: absolute;
            left: 2vh;
            width: 50%;
            bottom: 2vh;
            color: white;
            ::before{
                content: open-quote;
                color: white;
            }
            ::after{
                content: close-quote;
                color: white;
            }
        }
    }

}

.estudios{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1vh;
        li{
            font-weight: bold;
        }
    }

}

.cv{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__titulo{
        width: fit-content;
    }
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
       gap: 1vh;
        li{
            font-weight: bold;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
    }
}

.proyectos-realizados{
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    
    div{
        height: 50vh;
        width: 100%;
        position: relative;
    }

    .proyecto-realizado{
        background-size: cover;
        &__titulo{
            color: white;
            position: absolute;
            bottom: 1vh;
            left: 1vh;
        }
    }
    .bobina-tesla{
        background-image: url("../images/bobinatesla_background.jpg");
    }

    .iluminacion-inalambrica{
        background-image: url("../images/wirelesslight_background.jpg");
    }

    .lucesneon{
        background-image: url("../images/lucesneon_background.jpg");
    }

    .experimento-rayosx{
        background-image: url("../images/rayosx_background.jpg");
    }

    .radiocontrol-remoto{
        background-image: url("../images/controlremoto_background.jpg");
    }

    .turbinatesla{
        background-image: url("../images/turbinatesla_background.jpg");
    }
}


// Telefono landscape
@media screen and (min-width: 600px) and (orientation: landscape){
   
    .proyectos-realizados{
        background-color: lightslategray;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        div{
            height: 50vh;
            width: 50%;
        }
    
        .proyecto-realizado{
            background-size: cover;
            flex-grow: 1;
            &__titulo{
                color: white;
                position: absolute;
                bottom: 1vh;
                left: 1vh;
            }
        }
    }
}



// Escritorio
@media screen and (min-width: 1024px) and (orientation: landscape){
    .proyectos-realizados{
        background-color: lightslategray;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        div{
            height: 50vh;
            width: 30%;
        }
    
        .proyecto-realizado{
            background-size: cover;
            &__titulo{
                color: white;
                position: absolute;
                bottom: 1vh;
                left: 1vh;
            }
        }
    }
}