
.menu {
    background-color: #675c64;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .opciones-menu{
        display: none;
        flex-direction: row;
        width: 40%;
        &__boton{
            background-color: ivory;
            flex-grow: 1;
            margin: 10px;
            display: fle;
            justify-content: center;
        }
    }
    .logotesla{
        height: 2em;
    }
}

.sobre-mi{
    width: auto;
    height: 30vh;
    position: relative;
    .banner-tesla{
        background-image: url("../images/nikola_tesla_background.jpg");
        background-size: cover;
        
        height: 100%;
        &__cita{
            position: absolute;
            left: 1vh;
            width: 50%;
            bottom: 1vh;
            color: white;
            ::before{
                content: open-quote;
                color: white;
            }
            ::after{
                content: close-quote;
                color: white;
            }
        }
    }

}

.estudios{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    
}

.cv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.proyectos-realizados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div{
        background-color: lavender;
        
        
    }
}

